.containerHeader {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.logoSite {
    justify-self: start;
}

.imgLogoSite {
    height: 8vh;
    aspect-ratio: 1;
    margin-left: 12vw;
}

#search {
    border: none;
    width: 17vw;
    height: 5.5vh;
    border-radius: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    margin-right: 1vw;
    font-size: 1.5vh;
}

.inputSearch {
    height: 4vh;
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    font-size: 1.7vw;
}

.menu {
    justify-self: end;
    display: flex;
    margin-right: 7vw;
    align-items: center;
}

.basket {
    color: white;
    background-color: blue;
    padding: 1.5vh;
    border-radius: 0.5vw;
    margin-right: 1vw;
}

.profil {
    font-weight: 700;
    font-size: larger;
    color: white;
    background-color: red;
    padding: 1.5vh;
    border-radius: 0.5vw;
    margin-right: 1vw;
}

.searchDiv {
    display: flex;
    align-items: center;
}

.searchBar {
    justify-self: center;
}

.inputSearch:hover {
    cursor: pointer;
}

.message {
    font-weight: 700;
    font-size: larger;
    color: white;
    background-color: green;
    padding: 1.5vh;
    border-radius: 0.5vw;
    margin-right: 1vw;
}

.nameSite {
    font-size: 4vw;
    font-family: "Allura", cursive;
    font-style: normal;
}